<ion-content>
	<div class="relative flex flex-col justify-center items-center h-full w-full">
		<div class="absolute top-5 w-full text-center text-3xl font-extralight">Configuração inicial</div>

		<div class="flex flex-col justify-center items-center h-full w-full">
			<ng-container *ngIf="fase_conf === 0">
				<form [formGroup]="configuracao1Form">
					<div class="w-full">
						<p class="w-full text-center text-xl mb-2">Nº de Jogadores</p>
						<div class="flex w-52 mx-auto">
							<div class="flex justify-center items-center border border-white rounded-full h-10 p-2" (click)="diminuirValor('numero_jogadores')"><ion-icon class="h-5 w-5" name="remove"></ion-icon></div>
							<input class="bg-white text-black text-center h-10 mx-auto w-20 text-xl rounded-md" formControlName="numero_jogadores" type="number" min="2" max="10" readonly />
							<div class="flex justify-center items-center border border-white rounded-full h-10 p-2" (click)="aumentarValor('numero_jogadores')"><ion-icon class="h-5 w-5" name="add"></ion-icon></div>
						</div>
					</div>

					<div class="w-full mt-7">
						<p class="w-full text-center text-xl mb-2">Nº de Vidas</p>
						<div class="flex w-52 mx-auto">
							<div class="flex justify-center items-center border border-white rounded-full h-10 p-2" (click)="diminuirValor('numero_vidas')"><ion-icon class="h-5 w-5" name="remove"></ion-icon></div>
							<input class="bg-white text-black text-center h-10 mx-auto w-20 text-xl rounded-md" formControlName="numero_vidas" type="number" min="1" readonly />
							<div class="flex justify-center items-center border border-white rounded-full h-10 p-2" (click)="aumentarValor('numero_vidas')"><ion-icon class="h-5 w-5" name="add"></ion-icon></div>
						</div>
					</div>

					<div class="w-full mt-7">
						<p class="w-full text-center text-xl mb-2">Dinheiro Inicial</p>
						<div class="flex w-52 mx-auto">
							<div class="flex justify-center items-center border border-white rounded-full h-10 p-2" (click)="diminuirValor('dinheiro_inicial')"><ion-icon class="h-5 w-5" name="remove"></ion-icon></div>
							<input class="bg-white text-black text-center h-10 mx-auto w-20 text-xl rounded-md" formControlName="dinheiro_inicial" type="number" min="0" readonly />
							<div class="flex justify-center items-center border border-white rounded-full h-10 p-2" (click)="aumentarValor('dinheiro_inicial')"><ion-icon class="h-5 w-5" name="add"></ion-icon></div>
						</div>
					</div>

					<div class="w-4/5 mx-auto border-b border-gray-600 my-10"></div>
					<div class="w-full">
						<p class="w-full text-center text-xl mb-2">Custo Golpe de Estado</p>
						<div class="flex w-52 mx-auto">
							<div class="flex justify-center items-center border border-white rounded-full h-10 p-2" (click)="diminuirValor('custo_golpe_estado')"><ion-icon class="h-5 w-5" name="remove"></ion-icon></div>
							<input class="bg-white text-black text-center h-10 mx-auto w-20 text-xl rounded-md" formControlName="custo_golpe_estado" type="number" min="0" readonly />
							<div class="flex justify-center items-center border border-white rounded-full h-10 p-2" (click)="aumentarValor('custo_golpe_estado')"><ion-icon class="h-5 w-5" name="add"></ion-icon></div>
						</div>
					</div>

					<div class="w-full mt-7">
						<p class="w-full text-center text-xl mb-2">Golpe de Estado Obrigatório</p>
						<div class="flex w-52 mx-auto">
							<div class="flex justify-center items-center border border-white rounded-full h-10 p-2" (click)="diminuirValor('golpe_estado_obrigatorio')"><ion-icon class="h-5 w-5" name="remove"></ion-icon></div>
							<input class="bg-white text-black text-center h-10 mx-auto w-20 text-xl rounded-md" formControlName="golpe_estado_obrigatorio" type="number" min="0" readonly />
							<div class="flex justify-center items-center border border-white rounded-full h-10 p-2" (click)="aumentarValor('golpe_estado_obrigatorio')"><ion-icon class="h-5 w-5" name="add"></ion-icon></div>
						</div>
					</div>
				</form>
			</ng-container>
			<ng-container *ngIf="fase_conf === 1">
				<form [formGroup]="configuracao2Form">
					<ng-container *ngFor="let p of qtdJogadores(); index as i">
						<div class="w-full mb-2">
							<div class="flex justify-center items-center w-72 mx-auto">
								<p class="w-14 mr-2 text-center text-xl">J{{ i + 1 }}:</p>
								<input class="bg-white text-black pl-2 h-10 w-full text-xl rounded-md" formControlName="nome_j{{i}}" type="text" />
							</div>
						</div>
					</ng-container>
				</form>
			</ng-container>

			<div class="absolute bottom-14 flex">
				<div *ngIf="fase_conf === 1" class="flex justify-center items-center border border-white rounded-full" (click)="fase_conf = 0">
					<ion-icon class="h-7 w-7 m-2" name="caret-back-outline"></ion-icon>
				</div>
				<div class="flex justify-center items-center mx-auto border border-white rounded-full py-2 pl-7 pr-5 text-xl" (click)="enviarConfiguracao()">
					{{fase_conf === 0 ? 'Confirmar' : 'Continuar'}} <ion-icon class="ml-4 h-7 w-7" name="caret-forward-outline"></ion-icon>
				</div>
			</div>
		</div>

		<div class="absolute bottom-4 w-full text-center text-gray-500 font-semibold">By: Luiz F Souza - 18/04/24</div>
	</div>
</ion-content>
