<ion-header>
	<div class="my-4 w-full text-center text-3xl font-light">Configuração da Partida</div>
</ion-header>

<ion-content>
	<div class="relative flex h-full w-full flex-col items-center justify-center">
		<form class="w-full overflow-y-auto pb-2" [formGroup]="configuracaoForm">
			<div class="flex w-full flex-col items-center justify-center">
				<p class="mb-2 text-xl">Jogadores</p>
				<div class="flex items-center justify-center">
					<div class="ion-activatable ripple-parent rounded-rectangle relative flex h-12 w-12 items-center justify-center overflow-hidden rounded-l-full border-y-2 border-l-2 border-white" (click)="diminuirValor('numero_jogadores')">
						<ion-ripple-effect></ion-ripple-effect>
						<ion-icon class="absolute bg-transparent text-3xl" name="chevron-back-outline"></ion-icon>
					</div>
					<div class="flex h-12 w-20 items-center justify-center bg-white text-2xl font-semibold text-black">{{ configuracaoForm.value.numero_jogadores }}</div>
					<div class="ion-activatable ripple-parent rounded-rectangle relative flex h-12 w-12 items-center justify-center overflow-hidden rounded-r-full border-y-2 border-r-2 border-white" (click)="aumentarValor('numero_jogadores')">
						<ion-ripple-effect></ion-ripple-effect>
						<ion-icon class="absolute bg-transparent text-3xl" name="chevron-forward-outline"></ion-icon>
					</div>
				</div>
			</div>

			<div class="mt-7 flex w-full flex-col items-center justify-center">
				<p class="mb-2 text-xl">Vida</p>
				<div class="flex items-center justify-center">
					<div class="ion-activatable ripple-parent rounded-rectangle relative flex h-12 w-12 items-center justify-center overflow-hidden rounded-l-full border-y-2 border-l-2 border-white" (click)="diminuirValor('numero_vidas')">
						<ion-ripple-effect></ion-ripple-effect>
						<ion-icon class="absolute bg-transparent text-3xl" name="chevron-back-outline"></ion-icon>
					</div>
					<div class="flex h-12 w-20 items-center justify-center bg-white text-2xl font-semibold text-black">{{ configuracaoForm.value.numero_vidas }}</div>
					<div class="ion-activatable ripple-parent rounded-rectangle relative flex h-12 w-12 items-center justify-center overflow-hidden rounded-r-full border-y-2 border-r-2 border-white" (click)="aumentarValor('numero_vidas')">
						<ion-ripple-effect></ion-ripple-effect>
						<ion-icon class="absolute bg-transparent text-3xl" name="chevron-forward-outline"></ion-icon>
					</div>
				</div>
			</div>

			<div class="mt-7 flex w-full flex-col items-center justify-center">
				<p class="mb-2 text-xl">Dinheiro Inicial</p>
				<div class="flex items-center justify-center">
					<div class="ion-activatable ripple-parent rounded-rectangle relative flex h-12 w-12 items-center justify-center overflow-hidden rounded-l-full border-y-2 border-l-2 border-white" (click)="diminuirValor('dinheiro_inicial')">
						<ion-ripple-effect></ion-ripple-effect>
						<ion-icon class="absolute bg-transparent text-3xl" name="chevron-back-outline"></ion-icon>
					</div>
					<div class="flex h-12 w-20 items-center justify-center bg-white text-2xl font-semibold text-black">{{ configuracaoForm.value.dinheiro_inicial }}</div>
					<div class="ion-activatable ripple-parent rounded-rectangle relative flex h-12 w-12 items-center justify-center overflow-hidden rounded-r-full border-y-2 border-r-2 border-white" (click)="aumentarValor('dinheiro_inicial')">
						<ion-ripple-effect></ion-ripple-effect>
						<ion-icon class="absolute bg-transparent text-3xl" name="chevron-forward-outline"></ion-icon>
					</div>
				</div>
			</div>
			<div class="mt-7 flex w-full flex-col items-center justify-center">
				<p class="mb-2 text-xl">Custo Golpe de Estado</p>
				<div class="flex items-center justify-center">
					<div class="ion-activatable ripple-parent rounded-rectangle relative flex h-12 w-12 items-center justify-center overflow-hidden rounded-l-full border-y-2 border-l-2 border-white" (click)="diminuirValor('custo_golpe_estado')">
						<ion-ripple-effect></ion-ripple-effect>
						<ion-icon class="absolute bg-transparent text-3xl" name="chevron-back-outline"></ion-icon>
					</div>
					<div class="flex h-12 w-20 items-center justify-center bg-white text-2xl font-semibold text-black">{{ configuracaoForm.value.custo_golpe_estado }}</div>
					<div class="ion-activatable ripple-parent rounded-rectangle relative flex h-12 w-12 items-center justify-center overflow-hidden rounded-r-full border-y-2 border-r-2 border-white" (click)="aumentarValor('custo_golpe_estado')">
						<ion-ripple-effect></ion-ripple-effect>
						<ion-icon class="absolute bg-transparent text-3xl" name="chevron-forward-outline"></ion-icon>
					</div>
				</div>
			</div>

			<div class="mt-7 flex w-full flex-col items-center justify-center">
				<p class="mb-2 text-xl">Golpe de Estado Obrigatório</p>
				<div class="flex items-center justify-center">
					<div
						class="ion-activatable ripple-parent rounded-rectangle relative flex h-12 w-12 items-center justify-center overflow-hidden rounded-l-full border-y-2 border-l-2 border-white"
						(click)="diminuirValor('golpe_estado_obrigatorio')">
						<ion-ripple-effect></ion-ripple-effect>
						<ion-icon class="absolute bg-transparent text-3xl" name="chevron-back-outline"></ion-icon>
					</div>
					<div class="flex h-12 w-20 items-center justify-center bg-white text-2xl font-semibold text-black">{{ configuracaoForm.value.golpe_estado_obrigatorio }}</div>
					<div
						class="ion-activatable ripple-parent rounded-rectangle relative flex h-12 w-12 items-center justify-center overflow-hidden rounded-r-full border-y-2 border-r-2 border-white"
						(click)="aumentarValor('golpe_estado_obrigatorio')">
						<ion-ripple-effect></ion-ripple-effect>
						<ion-icon class="absolute bg-transparent text-3xl" name="chevron-forward-outline"></ion-icon>
					</div>
				</div>
			</div>

			<div class="mt-10 flex w-full flex-col items-center justify-center">
				<div class="ion-activatable ripple-parent rounded-rectangle relative flex h-12 items-center justify-center overflow-hidden rounded-full border-zinc-500 py-2 pl-8 pr-14 text-xl" (click)="resetarConfiguracao()">
					<ion-ripple-effect></ion-ripple-effect>
					<span class="z-10 bg-transparent text-zinc-400">Limpar</span>
					<ion-icon class="absolute right-3 bg-transparent text-3xl text-zinc-400" name="trash-outline"></ion-icon>
				</div>
			</div>
		</form>
	</div>
</ion-content>

<ion-footer>
	<div class="my-4 flex items-center justify-center">
		<div class="ion-activatable ripple-parent rounded-rectangle relative flex h-12 w-12 items-center justify-center overflow-hidden rounded-l-full border-y-2 border-l-2 border-white" (click)="voltarHome()">
			<ion-ripple-effect></ion-ripple-effect>
			<ion-icon class="absolute bg-transparent text-3xl" name="caret-back-outline"></ion-icon>
		</div>
		<div class="ion-activatable ripple-parent rounded-rectangle relative flex h-12 items-center justify-center overflow-hidden rounded-r-full border-2 border-white py-2 pl-8 pr-14 text-xl" (click)="enviarConfiguracao()">
			<ion-ripple-effect></ion-ripple-effect>
			<span class="z-10 bg-transparent">JOGADORES</span>
			<ion-icon class="absolute right-3 bg-transparent text-3xl" name="caret-forward-outline"></ion-icon>
		</div>
	</div>
</ion-footer>
