<ion-content>
	<div class="relative flex h-full w-full flex-col items-center justify-center">
		<div *ngIf="isHistorico" class="absolute z-10 flex h-full w-full flex-col items-center justify-center bg-black">
			<ng-container *ngFor="let hist of historico">
				<p class="mb-1">{{ hist }}</p>
			</ng-container>

			<div class="mx-auto mt-10 flex w-52 items-center justify-center py-2 pl-5 pr-7 text-xl text-red-400" (click)="isHistorico = false"><ion-icon class="mr-4 h-7 w-7" name="close"></ion-icon> Fechar</div>
		</div>

		<div *ngIf="isAcao" class="absolute z-10 flex h-full w-full flex-col items-center justify-center bg-black">
			<ng-container *ngIf="acao === null">
				<div class="mx-auto mb-4 flex w-52 items-center justify-center rounded-full border border-white py-2 pl-5 pr-7 text-xl" (click)="acao = 0"><ion-icon class="mr-4 h-7 w-7" name="heart"></ion-icon> Vida</div>
				<div class="mx-auto mb-4 flex w-52 items-center justify-center rounded-full border border-white py-2 pl-5 pr-7 text-xl" (click)="acao = 1"><ion-icon class="mr-4 h-7 w-7" name="cash"></ion-icon> Dinheiro</div>
				<div class="mx-auto flex w-52 items-center justify-center rounded-full border border-white py-2 pl-5 pr-7 text-xl" (click)="registrarTurno()"><ion-icon class="mr-4 h-7 w-7" name="play-forward"></ion-icon> Passar</div>
			</ng-container>
			<ng-container *ngIf="acao === 0">
				<div class="mx-auto mb-4 flex w-52 items-center justify-center rounded-full border border-white py-2 pl-5 pr-7 text-xl" (click)="registrarAcao(1, false)"><ion-icon class="mr-4 h-7 w-7" name="heart"></ion-icon> -1 Vida</div>
			</ng-container>
			<ng-container *ngIf="acao === 1">
				<div class="mx-auto mb-4 flex w-52 items-center justify-center rounded-full border border-white py-2 pl-5 pr-7 text-xl" (click)="registrarAcao(1, true)"><ion-icon class="mr-4 h-7 w-7" name="cash"></ion-icon> +1</div>
				<div class="mx-auto mb-4 flex w-52 items-center justify-center rounded-full border border-white py-2 pl-5 pr-7 text-xl" (click)="registrarAcao(2, true)"><ion-icon class="mr-4 h-7 w-7" name="cash"></ion-icon> +2</div>
				<div class="mx-auto mb-4 flex w-52 items-center justify-center rounded-full border border-white py-2 pl-5 pr-7 text-xl" (click)="registrarAcao(3, true)"><ion-icon class="mr-4 h-7 w-7" name="cash"></ion-icon> +3</div>
				<br />
				<div class="mx-auto mb-4 flex w-52 items-center justify-center rounded-full border border-white py-2 pl-5 pr-7 text-xl" (click)="registrarAcao(2, false)"><ion-icon class="mr-4 h-7 w-7" name="cash"></ion-icon> -2</div>
				<div class="mx-auto mb-4 flex w-52 items-center justify-center rounded-full border border-white py-2 pl-5 pr-7 text-xl" (click)="registrarAcao(3, false)"><ion-icon class="mr-4 h-7 w-7" name="cash"></ion-icon> -3</div>
				<div class="mx-auto mb-4 flex w-52 items-center justify-center rounded-full border border-white py-2 pl-5 pr-7 text-xl" (click)="registrarAcao(custo_golpe_estado, false)">
					<ion-icon class="mr-4 h-7 w-7" name="cash"></ion-icon> -{{custo_golpe_estado}}
				</div>
			</ng-container>

			<div class="mx-auto mt-10 flex w-52 items-center justify-center py-2 pl-5 pr-7 text-xl text-red-400" (click)="isAcao = false; acao = null; isClick = null"><ion-icon class="mr-4 h-7 w-7" name="close"></ion-icon> Cancelar</div>
		</div>

		<div class="absolute top-5 flex w-full flex-col items-center justify-center text-center text-3xl font-light">
			<div class="flex items-center justify-center">Turno: {{ turno }} / Rodada: {{ rodada }}</div>
			<div class="flex items-center justify-center text-lg">{{ historico[historico.length-1] }}</div>
		</div>

		<div class="flex h-full w-full flex-col items-center justify-center">
			<ng-container *ngFor="let jogador of jogadores; index as i">
				<div class="mb-2 flex w-full items-center justify-center">
					<ion-icon id="vez-{{i}}" class="mr-4 h-7 w-7" style="color: black" name="caret-forward-outline"></ion-icon>

					<div
						class="w-2/3 flex justify-center items-center text-lg border {{ jogador.vida === 0 ? 'border-red-600' : jogador.dinheiro >= golpe_estado_obrigatorio ? 'border-amber-400' : 'border-white'}} rounded-lg p-2"
						(click)="isAcao = true; jogadorClick = i; isClick = true">
						<p class="font-semibold w-8 {{ jogador.vida === 0 ? 'text-red-600' : jogador.dinheiro >= golpe_estado_obrigatorio ? 'text-amber-400' : ''}}">{{i + 1}}</p>
						<p class="mr-auto {{ jogador.vida === 0 ? 'text-red-600' : jogador.dinheiro >= golpe_estado_obrigatorio ? 'text-amber-400' : ''}}">{{jogador.nome}}</p>

						<div class="flex justify-center items-center mr-4 {{ jogador.vida === 0 ? 'text-red-600' : jogador.dinheiro >= golpe_estado_obrigatorio ? 'text-amber-400' : ''}}">
							<ion-icon class="h-5 w-5 mr-1 {{ jogador.vida === 0 ? 'text-red-600' : jogador.dinheiro >= golpe_estado_obrigatorio ? 'text-amber-400' : ''}}" name="heart-outline"></ion-icon>
							{{ jogador.vida }}
						</div>
						<div class="flex justify-center items-center {{ jogador.vida === 0 ? 'text-red-600' : jogador.dinheiro >= golpe_estado_obrigatorio ? 'text-amber-400' : ''}}">
							<ion-icon class="h-5 w-5 mr-1 {{ jogador.vida === 0 ? 'text-red-600' : jogador.dinheiro >= golpe_estado_obrigatorio ? 'text-amber-400' : ''}}" name="cash-outline"></ion-icon>
							{{ jogador.dinheiro }}
						</div>
					</div>
				</div>
			</ng-container>
		</div>

		<div class="absolute bottom-14 flex">
			<div class="mr-1 flex w-14 items-center justify-center rounded-l-full bg-white text-black" (click)="isHistorico = true"><ion-icon class="h-7 w-7 bg-white text-black" name="list"></ion-icon></div>
			<div class="mx-auto flex items-center justify-center rounded-r-full bg-white py-2 pl-5 pr-7 text-xl font-semibold text-black" (click)="isAcao = true; jogadorClick = vez; isClick = false">
				<ion-icon class="mr-4 h-7 w-7 bg-white text-black" name="add"></ion-icon> Ação
			</div>
		</div>
		<div class="absolute bottom-4 w-full text-center font-semibold text-gray-500">{{ texto_rodape }}</div>
	</div>
</ion-content>
