<ion-header>
	<ion-toolbar>
		<div class="mb-2 mt-4 flex w-full flex-col items-center justify-center" (click)="mostrarHistorico()">
			<div class="w-full text-center text-3xl font-light">Turno: {{ turno }} - Rodada: {{ rodada }}</div>
			<div *ngIf="historico" class="w-full text-center font-light text-zinc-400">{{ historico[0] }}</div>
		</div>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="relative flex h-full w-full flex-col items-center justify-center">
		<div class="flex w-full flex-col items-center overflow-y-auto py-2">
			<ng-container *ngFor="let jogador of jogadores; index as idx">
				<div
					class="mb-2 flex max-h-12 min-h-12 w-4/5 items-center justify-between overflow-hidden rounded-md pr-2 transition-all duration-300 {{ idx === vez ? 'border-2' : 'opacity-65 border' }}"
					[ngClass]="jogador.vida > 0 ? jogador.dinheiro >= golpe_estado_obrigatorio ? 'player-rico' : 'player-normal' : 'player-morto'"
					(click)="jogador.vida > 0 ? mostrarAcoes(idx) : null">
					<div class="flex items-center justify-center">
						<div id="ponteiro" class="h-8 w-2 rounded-r-md transition-all duration-300  {{ idx === vez ? '' : 'opacity-0' }}"></div>
						<div class="ml-2 font-semibold transition-all duration-300">{{ jogador.nome }}</div>
					</div>

					<div class="flex items-center justify-center">
						<div class="relative mx-2 flex w-10 items-center justify-center">
							<div class="z-10 font-bold text-black transition-all duration-300">{{ jogador.vida > 0 ? jogador.vida : '' }}</div>
							<ion-icon class="absolute size-10 transition-all duration-300" [name]="jogador.vida > 0 ? 'heart' : 'heart-dislike'"></ion-icon>
						</div>
						<div class="w-12 text-lg font-bold transition-all duration-300">${{ jogador.dinheiro }}</div>
					</div>
				</div>
			</ng-container>
		</div>
	</div>
</ion-content>

<ion-footer>
	<ion-toolbar>
		<div class="relative mt-2 flex items-center justify-center">
			<div class="ion-activatable ripple-parent rounded-rectangle relative flex h-12 items-center justify-center overflow-hidden rounded-l-full bg-white px-4" (click)="mostrarHistorico()">
				<ion-ripple-effect class="bg-transparent text-black"></ion-ripple-effect>
				<ion-icon class="bg-transparent text-3xl text-black" name="list"></ion-icon>
			</div>
			<div
				class="ion-activatable ripple-parent rounded-rectangle relative flex h-12 items-center justify-center overflow-hidden rounded-r-full border-l border-black bg-white py-2 pl-8 pr-14 text-xl text-black"
				(click)="fim_jogo ? mostrarGanhador() : mostrarAcoes(null)">
				<ion-ripple-effect class="bg-transparent text-black"></ion-ripple-effect>
				<span class="z-10 bg-transparent font-semibold text-black">{{fim_jogo ? 'FIM' : 'AÇÃO'}}</span>
				<ion-icon class="absolute right-3 bg-transparent text-3xl text-black" [name]="fim_jogo ? 'checkmark-done-outline' : 'add'"></ion-icon>
			</div>

			<div *ngIf="!fim_jogo" class="absolute right-2">
				<div class="ion-activatable ripple-parent rounded-rectangle relative flex h-12 items-center justify-center overflow-hidden rounded-full px-4 py-2 text-xl" (click)="mostrarOpcoes()">
					<ion-ripple-effect></ion-ripple-effect>
					<ion-icon class="bg-transparent text-3xl text-zinc-400" name="settings-outline"></ion-icon>
				</div>
			</div>
		</div>
		<div class="w-full py-2 text-center font-semibold text-zinc-400">{{ texto_rodape }}</div>
	</ion-toolbar>
</ion-footer>
