/* For information on how to create your own theme, please see: */
/* http://ionicframework.com/docs/theming/ */

:root {
	--ion-background-color: #000000;
	--ion-background-color-rgb: 0, 0, 0;

	--ion-text-color: #ffffff;
	--ion-text-color-rgb: 255, 255, 255;

	--ion-text-color-step-50: #f2f2f2;
	--ion-text-color-step-100: #e6e6e6;
	--ion-text-color-step-150: #d9d9d9;
	--ion-text-color-step-200: #cccccc;
	--ion-text-color-step-250: #bfbfbf;
	--ion-text-color-step-300: #b3b3b3;
	--ion-text-color-step-350: #a6a6a6;
	--ion-text-color-step-400: #999999;
	--ion-text-color-step-450: #8c8c8c;
	--ion-text-color-step-500: #808080;
	--ion-text-color-step-550: #737373;
	--ion-text-color-step-600: #666666;
	--ion-text-color-step-650: #595959;
	--ion-text-color-step-700: #4d4d4d;
	--ion-text-color-step-750: #404040;
	--ion-text-color-step-800: #333333;
	--ion-text-color-step-850: #262626;
	--ion-text-color-step-900: #191919;
	--ion-text-color-step-950: #0d0d0d;

	--ion-background-color-step-50: #0d0d0d;
	--ion-background-color-step-100: #1a1a1a;
	--ion-background-color-step-150: #262626;
	--ion-background-color-step-200: #333333;
	--ion-background-color-step-250: #404040;
	--ion-background-color-step-300: #4d4d4d;
	--ion-background-color-step-350: #595959;
	--ion-background-color-step-400: #666666;
	--ion-background-color-step-450: #737373;
	--ion-background-color-step-500: #808080;
	--ion-background-color-step-550: #8c8c8c;
	--ion-background-color-step-600: #999999;
	--ion-background-color-step-650: #a6a6a6;
	--ion-background-color-step-700: #b3b3b3;
	--ion-background-color-step-750: #bfbfbf;
	--ion-background-color-step-800: #cccccc;
	--ion-background-color-step-850: #d9d9d9;
	--ion-background-color-step-900: #e6e6e6;
	--ion-background-color-step-950: #f2f2f2;
}

* {
	color: white;

	button {
		min-width: 48px;
		min-height: 48px;
	}
}

ion-toolbar,
ion-content {
	--background: #000000;
}

ion-alert {
	--backdrop-opacity: 0.6 !important;
}

/* status do jogador */
.player-normal {
	@apply border-white;

	#ponteiro {
		@apply bg-white;
	}

	div,
	span {
		@apply text-white;
	}

	ion-icon {
		@apply text-white;
	}
}

.player-rico {
	@apply border-amber-400;

	#ponteiro {
		@apply bg-amber-400;
	}

	div,
	span {
		@apply text-amber-400;
	}

	ion-icon {
		@apply text-amber-400;
	}
}

.player-morto {
	@apply border-red-700;

	div,
	span {
		@apply text-red-700;
	}

	ion-icon {
		@apply text-red-900;
	}
}
