<ion-content>
	<div class="flex h-full w-full flex-col items-center justify-evenly">
		<img class="w-3/4 max-w-80" src="assets/logos/logo-grande.png" alt="Logo COUP Admin" />
		<ion-button fill="outline" size="large" color="white" shape="round" mode="md" (click)="entrarAplicativo()">JOGAR <ion-icon class="h-7 w-7" slot="end" name="caret-forward-outline"></ion-icon></ion-button>
	</div>
</ion-content>

<ion-footer>
	<ion-toolbar>
		<p class="w-full py-2 text-center font-semibold text-gray-400">{{ texto_rodape }}</p>
	</ion-toolbar>
</ion-footer>
