<ion-content>
	<div class="relative flex h-full w-full flex-col items-center justify-center">
		<div class="absolute top-5 w-full text-center text-3xl font-extralight">Sequência dos Players</div>

		<div class="flex h-full w-full flex-col items-center justify-center">
			<div *ngFor="let jogador of jogadores; index as i" class="mb-2 flex w-2/3 items-center justify-center rounded-lg border border-white p-2">
				<p class="mr-auto font-semibold">{{i + 1}}</p>
				<p>{{jogador.nome}}</p>
			</div>
			<div class="flex items-center justify-center p-2" (click)="randomizarPosicoes()">
				<ion-icon class="h-7 w-7" name="shuffle"></ion-icon>
			</div>
		</div>

		<div class="absolute bottom-14 flex">
			<div class="flex items-center justify-center rounded-full border border-white" (click)="backButton()">
				<ion-icon class="m-2 h-7 w-7" name="caret-back-outline"></ion-icon>
			</div>
			<div class="mx-auto flex items-center justify-center rounded-full border border-white py-2 pl-7 pr-5 text-xl" (click)="jogar()">Jogar <ion-icon class="ml-4 h-7 w-7" name="caret-forward-outline"></ion-icon></div>
		</div>
		<div class="absolute bottom-4 w-full text-center font-semibold text-gray-500">{{ texto_rodape }}</div>
	</div>
</ion-content>
