<ion-header>
	<ion-toolbar>
		<div class="my-4 w-full text-center text-3xl font-light">Jogadores</div>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div *ngIf="form_iniciado" class="relative flex h-full w-full flex-col items-center justify-center">
		<form class="w-full overflow-y-auto py-2" [formGroup]="jogadoresForm">
			<ng-container *ngFor="let jogador of quantidadeJogadores(); index as i">
				<div class="mb-2 w-full">
					<div class="relative mx-auto flex min-w-24 max-w-72 items-center justify-center">
						<p class="absolute left-2 top-0 bg-transparent text-sm text-black">Jogador {{ i + 1 }}:</p>
						<input class="h-12 w-full rounded-md bg-white pt-2 text-center text-xl text-black" formControlName="nome_jog_{{i}}" type="text" maxlength="20" />
					</div>
				</div>
			</ng-container>

			<div class="mt-4 flex w-full flex-col items-center justify-center">
				<div class="ion-activatable ripple-parent rounded-rectangle relative flex h-12 items-center justify-center overflow-hidden rounded-full border-zinc-500 py-2 pl-8 pr-14 text-xl" (click)="embaralharJogadores()">
					<ion-ripple-effect></ion-ripple-effect>
					<span class="z-10 bg-transparent text-zinc-400">Embaralhar</span>
					<ion-icon class="absolute right-3 bg-transparent text-3xl text-zinc-400" name="shuffle-outline"></ion-icon>
				</div>
			</div>
		</form>
	</div>
</ion-content>

<ion-footer>
	<ion-toolbar>
		<div class="mb-4 mt-2 flex items-center justify-center">
			<div class="ion-activatable ripple-parent rounded-rectangle flex h-12 items-center justify-center overflow-hidden rounded-l-full border-y-2 border-l-2 border-white px-4" (click)="voltarConfig()">
				<ion-ripple-effect></ion-ripple-effect>
				<ion-icon class="bg-transparent text-3xl" name="caret-back-outline"></ion-icon>
			</div>
			<div id="btn_comecar_jogo" class="ion-activatable ripple-parent rounded-rectangle relative flex h-12 items-center justify-center overflow-hidden rounded-r-full border-2 border-white py-2 pl-8 pr-14 text-xl" (click)="confirmarJogadores()">
				<ion-ripple-effect></ion-ripple-effect>
				<span class="z-10 bg-transparent">COMEÇAR JOGO</span>
				<ion-icon class="absolute right-3 bg-transparent text-3xl" name="caret-forward-outline"></ion-icon>
			</div>
		</div>
	</ion-toolbar>
</ion-footer>
